.Tv {
    background: linear-gradient(to top, #000000, #444444), #000;
    color: white;
    height: 500px;
    overflow: hidden;
    border: 1px black solid;
    position: relative;
}

.Tv h1,
.Tv h2,
.Tv h3,
.Tv h4,
.Tv h5 {
    color: white;
}

.Tv a {
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.Tv .scrollable {
    height: 100%;
    overflow-y: auto;
}

/* Player */
.Tv .Player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.Tv .Player .embed {
    width: 100%;
    height: 100%;
}

/* Channel list & Channels list */
.Tv .Channels,
.Tv .Channel {
    position: absolute;
    top: 0;
    left: -350px;
    bottom: 0;
    width: 350px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition-property: left, right;
    transition-duration: 0.5s;
}
.Tv .Channels > button,
.Tv .Channel > button {
    position: absolute;
    width: 80px;
    height: 20px;
    top: 50%;
}
.Tv .Channel > button {
    rotate: 90deg;
    right: -50px;
}
.Tv .Channels > button {
    rotate: -90deg;
    left: -50px;
}
.Tv .Channel.active {
    left: 0;
}
.Tv .Channels {
    left: auto;
    right: -250px;
    width: 250px;
}
.Tv .Channels.active {
    right: 0;
}
.Tv .Channels h3,
.Tv .Channel h3 {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.Tv .Channels ul,
.Tv .Channel ul {
    margin: 0;
}
.Tv .Channels li,
.Tv .Channel li {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.Tv .Channels li.current,
.Tv .Channel li.current {
    background-color: rgba(255, 255, 255, 0.1);
}
.Tv .Channel img {
    width: 50px;
    height: 70px;
    object-fit: cover;
}

/* Controls */
.Tv .Controls {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background: rgba(0, 0, 0, 0.7);
    transition-property: bottom;
    transition-duration: 0.5s;
}
.Tv .Controls.active {
    bottom: 0;
}
.Tv .Controls > button {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 46%;
    top: -20px;
}
.Tv .Controls > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Support making the player "fullscreen" */
/* @todo show "Press ESC to exit fullscreen" */
body.fullscreen {
    height: 100vh;
    overflow: hidden;
}
body.fullscreen .layout-main-wrapper {
    z-index: 1000;
}
body.fullscreen .layout-main-wrapper .social-bar {
    display: none;
}
.Tv.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    overflow: hidden;
}
